{% extends 'author_and_books/main.html' %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<div class="container">
    <h1>ADD BOOK PAGE</h1>
    <br>
    
    <div class="card">
        <div class="class-header">
            <h2>Add Book Form</h2>
        </div>
        <div class="cardbody">
            <form action = "" method ="post">
                {% csrf_token %}
                {{form | crispy}}

                <button type="submit" class="btn btn-outline-success">
                    <i class="fas fa-plus">
                        Add Book
                    </i>
                </button>
                <a href="{% url 'home' %}" class="btn btn-outline-danger">
                    <i class="fas fa-ban">
                        Cancel
                    </i>
                </a>
            </form>
        </div>
    </div>
</div>

{% endblock content %}